<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    {{ 'header.css' | asset_url | stylesheet_tag }}
    {{ 'footer.css' | asset_url | stylesheet_tag }}
    {{ 'shop.css' | asset_url | stylesheet_tag }}
    {{ 'search.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
  </body>
</html>
